<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	#leftMenu {
		width: 25%;
		float: left;
	}
	#memberInfo {
		width: 70%;
		float: right;
		border-left: 1px solid gray;
		padding-left: 30px;
	}
</style>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#empEmail").keyup(function(){
		$.ajax({
			type : "post",
			url : "empEmailCheck",
			dataType : "text",
			data : {"empEmail" : $("#empEmail").val()},
			success : function(result){
				$("#emailCheck").html(result);
				if(result == "사용 가능한 email입니다.") {
					$('#emailCheck').css("color","blue");
				}else {
					$('#emailCheck').css("color","red");
				}
			},
			error : function(){
				alert("error 발생");
				return;
			}
		});
	});
	
});
</script>
</head>
<body>
<div id="leftMenu">
	<ul>
		<li><a href="empDetail">내 정보 보기</a></li>
		<li><a href="empUpdate">내 정보 수정</a></li>
		<li><a href="empPwUpdate">비밀번호 수정</a></li>
	</ul>
</div>
<div id="memberInfo">
<form action="empUpdate" method="post" name="frm" id="frm" th:object="${employeeCommand}">
<input type="hidden" name="empPwCon" value="123" />
<fieldset>
	<legend>직원 정보 수정</legend>
	<table width="600" align="center" border=1>
		<caption><strong>내 정보 수정</strong></caption>
		<tfoot>
		<tr>
			<th colspan="2">
				<input type="submit" value="수정 완료" />
				<input type="reset" value="다시 입력" />
				<input type="button" value="수정 안함" onclick="javascript:location.href='/'" />
			</th>
		</tr>
		</tfoot>
		<tbody>
		<tr>
			<th colspan="2">사용자 ID와 비밀번호 입력</th>
		</tr>
		<tr>
			<th> 
				<label for="empId">* 사용자 아이디</label> 
			</th>
			<td>
				<input type="text" name="empId" id="empId" size="15" maxlength="12" autofocus="autofocus" th:value="${employeeCommand.empId}" readonly="readonly"/>
				<span th:if="${#fields.hasErrors('empId')}" th:errors="*{empId}"></span><br />
				
			</td>
		</tr>
		<tr>
			<th>
				<label for="empPw">* 비밀번호</label>
			</th>
			<td>
				<input type="password" name="empPw" id="empPw" size="15" maxlength="12" />
				<span th:if="${#fields.hasErrors('empPw')}" th:errors="*{empPw}"></span><br />
			</td>
		</tr>
		<tr>
			<th colspan="2">사용자 기본정보</th>
		</tr>
		<tr>
			<th>
				<label for="empName">사용자 이름</label>
			</th>
			<td>
				<input type="text" name="empName" id="empName" size="15" maxlength="12" th:value="${employeeCommand.empName}"/>
				<span th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}"></span><br />
			</td>
		</tr>
		<tr>
			<th colspan="2"> 사용자 연락처	</th>
		</tr>
		<tr>
			<th>
				<label for="empEmail">사용자 이메일</label>
			</th>
			<td>
				<input type="email" name="empEmail" id="empEmail" th:value="${employeeCommand.empEmail}"/>
				<span id="emailCheck"></span>
				<span th:if="${#fields.hasErrors('empEmail')}" th:errors="*{empEmail}"></span><br />
			</td>
		</tr>
		<tr>
			<th>
				<label for="empAddr">사용자 주소</label>
			</th>
			<td>
				<input type="text" name="empAddr" id="empAddr" th:value="${employeeCommand.empAddr}"/>
				<span th:if="${#fields.hasErrors('empAddr')}" th:errors="*{empAddr}"></span><br />
			</td>
		</tr>
		<tr>
			<th>
				<label for="empPhone">연락처</label>
			</th>
			<td>
				<input type="tel" name="empPhone" id="empPhone" placeholder="123-123-1234, 123-1234-1234" size="26" maxlength="13" th:value="${employeeCommand.empPhone}"/>
				<span th:if="${#fields.hasErrors('empPhone')}" th:errors="*{empPhone}"></span><br />
			</td>
		</tr>
		</tbody>
	</table>
</fieldset>
</form>
</div>
</body>
</html>