<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>

<script type="text/javascript">
function del(){
	$.ajax({
		type:"post",
		url:"departmentDel",
		data: {"num" : "[[${departmentCommand.departmentNum}]]"},
		dataType:"text",
		success : function(result){			
			if(result.trim() == '1') {
				alert("정상 삭제");
				location.href="/"
			}else {
				alert("삭제되지 않음");
				return false;
			}
		},
		error : function() {
			alert("error!!!");
			return false;
		}
	});
};


function openZipSearch() {
   new daum.Postcode(
         {
            oncomplete : function(data) {
               var departmentAddr = data.address; // 최종 주소 변수
               var extraAddr = ''; // 조합형 주소 변수

               // 기본 주소가 도로명 타입일때 조합한다.
               if (data.addressType === 'R') {
                  //법정동명이 있을 경우 추가한다.
                  if (data.bname !== '') {
                     extraAddr += data.bname;
                  }
                  // 건물명이 있을 경우 추가한다.
                  if (data.buildingName !== '') {
                     extraAddr += (extraAddr !== '' ? ', '
                           + data.buildingName : data.buildingName);
                  }
                  // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                  departmentAddr += (extraAddr !== '' ? ' (' + extraAddr
                        + ')' : '');

                  $('[name=departmentAddr]').val(departmentAddr);
                  $('[name=zip]').val(data.zonecode); // 우편번호 (5자리)
                  $('[name=addr1]').val(data.address);
                  $('[name=addr2]').val(data.buildingName);
               }
            }
         }).open();
}

</script>
</head>
<body>
<form action="departmentUpdate" method="post">
<table>
	<tr>
		<td>학과 번호</td>
		<td><input type="text" name="departmentNum" th:value="${departmentCommand.departmentNum}" readonly="readonly"/></td>
	</tr>
	<tr>
		<td>학과 이름</td>
		<td><input type="text" name="departmentName" th:value="${departmentCommand.departmentName}"  /></td>
	</tr>
	<tr>
		<td>학과 전화번호</td>
		<td><input type="tel" name="departmentPhone" th:value="${departmentCommand.departmentPhone}" /></td>
	</tr>
	<tr>
		<td>학과 주소</td>
		<td>
			 우편 번호 : <input type="text" name="zip" th:value="${departmentCommand.zip}" readonly="readonly"> 
	         <button type="button" onclick='openZipSearch();' >주소검색</button><br />
	         전체 주소  : <input type="text" name="departmentAddr" size="50" th:value="${departmentCommand.departmentAddr}" readonly="readonly" > <br />
	         주소 : <input type="text" name="addr1" th:value="${departmentCommand.addr1}" readonly="readonly"> 
	         빌딩 이름  : <input type="text" name="addr2" th:value="${departmentCommand.addr2}" readonly="readonly"><br />
	         상세 주소 :  <input type="text" name="depatymentAddr" th:value="${departmentCommand.depatymentAddr}" readonly="readonly">
			
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input type="submit" value="수정완료" />
			<input type="button" value="삭제" onclick="del()"/> 
		</td>
	</tr>
</table>
</form>
</body>
</html>