<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
회원 관리 <br />
<table border=1>
	<tr>
		<td>번호</td>
		<td>이름</td>
		<td>아이디</td>
		<td>전화번호</td>
	</tr>
	<th:block th:each="dto : ${list}">
	<tr>
		<td><a th:href="@{memberInfo(num=${dto.memberNum})}">[[${dto.memberNum}]]</a></td>
		<td>[[${dto.memberName}]]</td>
		<td>[[${dto.memberId}]]</td>
		<td>[[${dto.memberPhone}]]</td>
	</tr>
	</th:block>
</table>
<a href="memberRegist">회원 등록</a>
</body>
</html>