<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:if="${session.authInfo == null}">
<form action="/login/loginPro" id="frm" name="frm" method="post" th:object="${loginCommand}">
<table border="1">
	<tr>
		<td>아이디</td>
		<td> 
			<input type="text" name="userId" id="userId" />
			<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span><br />
		</td>
		<td rowspan="2">
			<input type="submit" value="로그인" />
		</td>
	</tr>
	<tr>
		<td>비밀번호</td>
		<td>
			<input type="password" name="userPw" id="userPw" />
			<span th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}"></span><br />
		</td>
	</tr>
</table>
	<a href="student/studentRegist">학생 가입</a><br />
	<a href="professor/professorRegist">교수 가입</a>
</form>
</th:block>
<th:block th:if="${session.authInfo != null}">
	<th:block th:switch="${session.authInfo.grade}">
		<span th:case="professor">
			<a href="/professor/professorList">교수 정보</a><br /> <!-- tea_1000001 -->
			<a href="/professor/myInfo">내 정보</a><br />
			<a href="/major/majorList">학과 정보</a><br />
			<a href="/subject/subList">과목 정보</a><br />
			<a href="/professor/subInsertList">전체교수과목</a><br />
			<a href="/professor/mySubList">내 과목</a><br />
		</span>
		<span th:case="student">
			<a href="/student/studentList">학생 정보</a><br /> <!-- 년도과번호10001 (과번호는 10번부터) -->
			<a href="/student/myInfo">내 정보</a><br />
		</span>
	</th:block>
	<a href="login/logout" >로그아웃</a>
</th:block>	
</body>

</html>