<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
등록 <br />
<form action="empWrite" method="post">
	아이디 : <input type="text" name="empId" /><br />
	비밀번호 : <input type="password" name="empPw" /><br />
	비밀번호 확인 : <input type="password" name="empPwCon" /><br />
	이름 : <input type="text" name="empName" /><br />
	주소 : <input type="text" name="empAddr" /><br />
	연락처 : <input type="tel" name="empPhone" /><br />
	<input type="submit" value="등록" />
</form>
</body>
</html>