<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- bootstrap css -->
<link rel="stylesheet" href="/static/css/bootstrap.css" />
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#btn").click(function(){
		$("#appd").append(
				"<tr><th>졸업년도</th><td><input type='date' name='schoolYear'/></td></tr>"
				+ "<tr><th>학교</th><td><input type='text' name='school' size='15'/>"
				+ "</td></tr><div id='appd'></div>"
		);
	});
});

function del(eee){
	$(eee).parent().remove();
}

/*
	$(function(){
		$("#frm").submit(function(){
			if($("#empPw").val() != $("#empPwCon").val()){
				alert("비밀번호 확인이 다릅니다.");
				return false;
			};
		});
	});
*/

$(function(){
	$("#empId").keyup(function(){
		$.ajax({
			type : "post",
			url : "empIdCheck",
			dataType : "text",
			data : {"empId" : $("#empId").val()},
			success : function(result){
				$("#idCheck").html(result);
				if(result == "사용 가능한 id입니다.") {
					$('#idCheck').css("color","blue");
				}else {
					$('#idCheck').css("color","red");
				}
			},
			error : function(){
				alert("error 발생");
				return;
			}
		});
	});
	
	$("#empEmail").keyup(function(){
		$.ajax({
			type : "post",
			url : "empEmailCheck",
			dataType : "text",
			data : {"empEmail" : $("#empEmail").val()},
			success : function(result){
				$("#emailCheck").html(result);
				if(result == "사용 가능한 email입니다.") {
					$('#emailCheck').css("color","blue");
				}else {
					$('#emailCheck').css("color","red");
				}
			},
			error : function(){
				alert("error 발생");
				return;
			}
		});
	});
	
});
</script>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">KOSA ShoppingMall</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end of navbar -->
<div class="container">
	<form action="empWrite" method="post" id="frm" th:object="${employeeCommand}">
	<!-- table -->
	<table class="table text-center mt-3">
	  	<thead class="thead-light">
		    <tr>
		    	<th colspan="2" ><h3>직원 등록</h3></th>
	   </thead>
	  <tbody>
	    <tr>
	    	<th>아이디</th>
	    	<td>
		    	<input type="text" name="empId" id="empId" th:value="${employeeCommand.empId}" />
				<span id="idCheck"></span>
				<span th:if="${#fields.hasErrors('empId')}" th:errors="*{empId}"></span><br />
	    	</td>
	    </tr>
	    <tr>
	    	<th>비밀번호</th>
	    	<td>
		    	<input type="password" name="empPw" id="empPw" th:value="${employeeCommand.empPw}" />
				<span th:if="${#fields.hasErrors('empPw')}" th:errors="*{empPw}"></span><br />
	    	</td>
	    </tr>
	    <tr>
	    	<th>비밀번호 확인</th>
	    	<td>
		    	<input type="password" name="empPwCon" id="empPwCon" th:value="${employeeCommand.empPwCon}" />
				<span th:if="${#fields.hasErrors('empPwCon')}" th:errors="*{empPwCon}"></span><br />
	    	</td>
	    </tr>
	    <tr>
	    	<th>이름</th>
	    	<td>
	    		<input type="text" name="empName" th:value="${employeeCommand.empName}" />
				<span th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}"></span><br />
	    	</td>
	    </tr>
	    <tr>
	    	<th>주소</th>
	    	<td>
		    	<input type="text" name="empAddr" th:value="${employeeCommand.empAddr}"  />
				<span th:if="${#fields.hasErrors('empAddr')}" th:errors="*{empAddr}"></span><br />
	    	</td>
	    </tr>
	    <tr>
	    	<th>연락처</th>
	    	<td>
	    		<input type="tel" name="empPhone" th:value="${employeeCommand.empPhone}" />
				<span th:if="${#fields.hasErrors('empPhone')}" th:errors="*{empPhone}"></span><br />
	    	</td>
	    </tr>
	    <tr>
	    	<th>이메일</th>
	    	<td>
		    	<input type="tel" name="empEmail" id="empEmail" th:value="${employeeCommand.empEmail}" />
				<span id="emailCheck"></span>
				<span th:if="${#fields.hasErrors('empEmail')}" th:errors="*{empEmail}"></span><br />
	    	</td>
	    </tr>
	    <tr>
	    	<th>졸업년도</th>
	    	<td>
	    		<input type="date" name="schoolYear" />
	    	</td>
	    </tr>
	    <tr>
	    	<th>학교</th>
	    	<td>
	    		<input type="text" name="school" size="15"/>
	    		<button class="btn btn-outline-primary btn-sm" type="button" id="btn">추가</button>
	    		<div id="appd"></div>
	    	</td>
	    </tr>
	    <tr>
	    	<th colspan="2">
	    		<input class="btn btn-primary btn-sm" type="submit" value="등록" />
	    	</th>
	    </tr>
 	 </tbody>
	</table>
	<!-- end of table -->
	</form>
</div>
</body>
</html>