<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="empDels" method="post">
<table border=1>
<caption><strong>직원 관리</strong></caption>
		<tr>
			<th colspan="3" width="300">직원 리스트</th>
			<th width="100">사원수 : [[${list.size()}]]</th>
		</tr>
	<tr>
		<th>번호</th>
		<th>아이디</th>
		<th>이름</th>
		<th><input type="submit" value="삭제" /></th>
	</tr>
	<th:block th:each="dto, idx : ${list}">
	<tr>
		<th>[[${idx.count}]]</th>
		<th><a th:href="@{empInfo(num=${dto.empId})}">[[${dto.empId}]]</a></th>
		<th><a th:href="@{empInfo(num=${dto.empId})}">[[${dto.empName}]]</a></th>
		<th><input type="checkbox" name="delete" th:value="${dto.empId}" /></th>
	</tr>
	</th:block>
</table>
</form>
<a href="empJoin">직원 등록</a>
</body>
</html>