<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#empEmail").keyup(function(){
		$.ajax({
			type : "post",
			url : "empEmailCheck",
			dataType : "text",
			data : {"empEmail" : $("#empEmail").val()},
			success : function(result){
				$("#emailCheck").html(result);
				if(result == "사용 가능한 email입니다.") {
					$('#emailCheck').css("color","blue");
				}else {
					$('#emailCheck').css("color","red");
				}
			},
			error : function(){
				alert("error 발생");
				return;
			}
		});
	});
	
});
</script>
</head>
<body>
수정 <br />
<!-- 
	controller에서 service로 command를 사용해서 넘겨주고 command가 html로 값을 전달한다. 
		=> <form>에 th:object="${employeeCommand}"를 적어준다. 
 -->
<form action="empUpdate" method="post" id="frm" th:object="${employeeCommand}">
	아이디 : <input type="text" name="empId" th:value="${employeeCommand.empId}" readonly="readonly"/><br />
	비밀번호 : <input type="password" name="empPw" />
	<!-- th:if= empPw라는 filed에 error가 있다면 th:errors= empPw에 해당하는 에러 메세지를 출력 -->
	<span th:if="${#fields.hasErrors('empPw')}" th:errors="*{empPw}"></span><br />
	이름 : <input type="text" name="empName" th:value="${employeeCommand.empName}"/><br />
	주소 : <input type="text" name="empAddr" th:value="${employeeCommand.empAddr}"/><br />
	연락처 : <input type="tel" name="empPhone" th:value="${employeeCommand.empPhone}"/><br />
	이메일 : <input type="email" name="empEmail" id="empEmail" th:value="${employeeCommand.empEmail}"/>
	<span id="emailCheck"></span><br />
	<input type="submit" value="수정완료" />
</form>
</body>
</html>