<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- bootstrap css -->
<link rel="stylesheet" href="/static/css/bootstrap.css" />
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
function itemSend(goodsNum) {
	// javascript
	// opener.document.getElementById('num').value = goodsNum;
	// opener(부모창).문서.id가 num인 곳에 goodsNum을 넘긴다.
	
	// jquery
	$(opener.document).find("#num").val(goodsNum);
	
	window.self.close();
}
</script>
</head>
<body>
<div class="container text-center">
<!-- search bar -->
<table class="table table-border">
<tr>
	<th>
		<form action="goodsItem" method="post" class="d-flex">
			<input class="form-control me-5" type="search" name="goodsName" size="50" placeholder="상품명" aria-label="Search"/>
			<input class="btn btn-outline-primary btn-sm" type="submit" value="검색" />
		</form>
	</th>
</tr>
</table>
<!-- end of search bar -->

<!-- table -->
	<table class="table table-border">
		<thead class="thead-light">
		    <tr>
				<th colspan="4">상품 리스트</th>
			</tr>
		    <tr>
		      <th scope="col">상품 번호</th>
		      <th scope="col">상품명</th>
		      <th scope="col">가격</th>
		      <th scope="col">조회수</th>
		    </tr>
	   </thead>
	  <tbody>
	    <th:block th:each="goodsCommand : ${list}" >
			<tr>
				<th><a th:href="|javascript:itemSend('${goodsCommand.goodsNum}')|">[[${goodsCommand.goodsNum}]]</a></th>
				<th>[[${goodsCommand.goodsName}]]</th>
				<th>[[${goodsCommand.goodsPrice}]]</th>
				<th>[[${goodsCommand.visitCount}]]</th>
			</tr>
		</th:block>
	  </tbody>
	</table>
	<!-- end of table -->

</div>
</body>
</html>