<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	#leftMenu {
		width: 25%;
		float: left;
		border-right: 1px solid gray;
		height:500px;
	}
	#memberInfo {
		width: 70%;
		float: right;
		padding-left: 30px;
	}
</style>
</head>
<body>
<div id="wrapper">
   <div id="leftMenu">
      <ul>
         <li><a href="goodsList">상품리스트</a></li>
         <li><a href="goodsRegist">상품등록</a></li>
         <li><a href="goodsIpgoList">상품입고현황</a></li>
         <li><a href="goodsIpgo">상품입고</a></li>
         <li><a href="purchaseList">주문내역</a></li>
         <li><a href="goodsQuestion">상품문의</a></li>
      </ul>   
   </div>

	<div id="memberInfo">
	<p>상품 조회
	<form action="goodsSearch" method="get">
		<input type="search" name="goodsWord" size="50" />
		<input type="submit" value="검색" />
	</form>
	
	<form action="goodsDels" method="post">
	<table border="1" width="800">
		<caption><strong>상품 관리</strong></caption>
		<tr>
			<th colspan="5">상품 리스트</th>
			<th width="150">총 상품 개수 : [[${count}]] </th>
			<th width="150">현재 페이지 상품 개수 : [[${list.size()}]] </th>
		</tr>
		<tr>
			<th>번호</th>
			<th>상품 번호</th>
			<th>이미지</th>
			<th>상품명</th>
			<th>가격</th>
			<th>조회수</th>
			<th><input type="submit" value="삭제" /></th>
		</tr>
		<th:block th:each="goodsCommand, idx : ${list}">
		<tr>
			<th>[[${idx.count}]]</th>
			<th><a th:href="|goodsDetail/${goodsCommand.goodsNum}|">[[${goodsCommand.goodsNum}]]</a></th>
			<th>
				<th:block th:if = "${goodsCommand.goodsMain != null}" >
					<img th:src="|/goods/upload/${goodsCommand.goodsMain}|" width="30px"/>
				</th:block>
			</th>
			<th>[[${goodsCommand.goodsName}]]</th>
			<th>[[${goodsCommand.goodsPrice}]]</th>
			<th>[[${goodsCommand.visitCount}]]</th>
			<th><input type="checkbox" th:value="${goodsCommand.goodsNum}" name="delete" /></th>
		</tr>
		</th:block>
		
		<tr>
			<th colspan="7">
				<th:block th:if="${page <= 1}">
					[이전]
				</th:block>
				<th:block th:if="${page > 1}">
					<a th:href="@{goodsList(page=${page-1})}">[이전]</a>
				</th:block>
				
				<th:block th:each="i : ${#numbers.sequence(startPage, endPage)}" >
					[<a th:href="@{goodsList(page=${i})}" ><th:block th:text="${i}" ></th:block></a>]
				</th:block>
					
				<th:block th:if="${page < maxPage}">	
					<a th:href="@{goodsList(page=${page+1})}">[이후]</a>
				</th:block>
				<th:block th:if="${page >= maxPage}">	
					[이후]
				</th:block>
			</th>
		</tr>
			
	</table>
	</form>
	<a href="goodsRegist">상품 등록</a>
	</div>
</div>
</body>
</html>