<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	#leftMenu {
		width: 25%;
		float: left;
		border-right: 1px solid gray;
		height:500px;
	}
	#memberInfo {
		width: 70%;
		float: right;
		padding-left: 30px;
	}
</style>
</head>
<body>
<div id="wrapper">
   <div id="leftMenu">
      <ul>
         <li><a href="goodsList">상품리스트</a></li>
         <li><a href="goodsRegist">상품등록</a></li>
         <li><a href="goodsIpgoList">상품입고현황</a></li>
         <li><a href="goodsIpgo">상품입고</a></li>
      </ul>   
   </div>

	<div id="memberInfo">
	<form action="goodsRegist" method="post" name="frm" id="frm" th:object="${goodsCommand}">
	<input type="hidden" name="visitCount" value="0" />
	<table border="1">
		<caption><strong>상품 등록</strong></caption>
		<tr>
			<th>제품 번호</th>
			<td>
				<input type="text" name="goodsNum" th:value="${goodsCommand.goodsNum}" readonly="readonly"/> : goods10001번부터 자동 부여
				<span th:if="${#fields.hasErrors('goodsNum')}" th:errors="*{goodsNum}"></span>
			</td>
		</tr>
		<tr>
			<th>상품명</th>
			<td>
				<input type="text" name="goodsName" />
				<span th:if="${#fields.hasErrors('goodsName')}" th:errors="*{goodsName}"></span>
			</td>
		</tr>
		<tr>
			<th>상품 가격</th>
			<td>
				<input type="number" name="goodsPrice" min="1000" step="1000" value="1000"/>
				<span th:if="${#fields.hasErrors('goodsPrice')}" th:errors="*{goodsPrice}"></span>
			</td>
		</tr>
		<tr>
			<th>상품 내용</th>
			<td>
				<textarea rows="6" cols="30" name="goodsContent"></textarea>
				<span th:if="${#fields.hasErrors('goodsContent')}" th:errors="*{goodsContent}"></span>
			</td>
		</tr>
		<tr>
			<th>배송비</th>
			<td>
				<input type="number" name="deliveryCost" min="2000" step="500" value="2000"/>
				<span th:if="${#fields.hasErrors('deliveryCost')}" th:errors="*{deliveryCost}"></span>
			</td>
		</tr>
		<tr>
			<th colspan="2">
				<input type="submit" value="상품 등록"/>
				<input type="reset" value="다시 작성"/>
				<input type="button" value="상품 리스트" onclick="javascript:location.href='goodsList'" />
			</th>
		</tr>
	</table>
	</form>
	</div>
</div>
</body>
</html>