<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	#leftMenu {
		width: 25%;
		float: left;
		border-right: 1px solid gray;
		height:500px;
	}
	#memberInfo {
		width: 70%;
		float: right;
		padding-left: 30px;
	}
</style>
</head>
<body>
<div id="wrapper">
   <div id="leftMenu">
      <ul>
         <li><a href="goodsList">상품리스트</a></li>
         <li><a href="goodsRegist">상품등록</a></li>
         <li><a href="goodsIpgoList">상품입고현황</a></li>
         <li><a href="goodsIpgo">상품입고</a></li>
      </ul>   
   </div>

	<div id="memberInfo">
	<h2>입고 현황</h2>	
	<form action="goodsIpgoDels" method="post">
	<table border=1 width="600">
		<tr>
			<th colspan="4">입고 현황 목록</th>
			<th>총 입고상품수 : [[${count}]]</th>
			<th>현재페이지 상품수 : [[${list.size()}]]</th>
		</tr>
		<tr>
			<th>순서</th>
			<th>상품번호</th>
			<th>입고일</th>
			<th>수량</th>
			<th>제조일</th>
			<th><input type="submit" value="삭제" /></th>
		</tr>
		<tr th:each="goodsCommand, idx : ${list}">
		<!-- ${idx.index} : index는 0부터 시작 -->
			<th>[[${idx.count}]]</th> <!-- count : 1부터 시작 -->
			<th><a th:href="@{goodsIpgoDetail(goodsNum=${goodsCommand.goodsNum}, ipgoDate=${#dates.format(goodsCommand.ipgoDate, 'yyyy-MM-dd')})}">
				[[${goodsCommand.goodsNum}]]</a>
			</th>
			<th>[[${#dates.format(goodsCommand.ipgoDate, 'yyyy-MM-dd')}]]</th>
			<th>[[${goodsCommand.ipgoQty}]]</th>
			<th>[[${#dates.format(goodsCommand.madeDate, 'yyyy-MM-dd')}]]</th>
			<th><input type="checkbox" name="delete" th:value="${goodsCommand.goodsNum}+'`'+${#dates.format(goodsCommand.ipgoDate, 'yyyy-MM-dd')}" /></th>
		</tr>
		
		<tr>
			<th colspan="6">
				<th:block th:if="${page <= 1}">
					[이전]
				</th:block>
				<th:block th:if="${page > 1}">
					<a th:href="@{goodsIpgoList(page=${page-1})}">[이전]</a>
				</th:block>
				
				<th:block th:each="i : ${#numbers.sequence(startPage, endPage)}" >
					[<a th:href="@{goodsIpgoList(page=${i})}" ><th:block th:text="${i}" ></th:block></a>]
				</th:block>
					
				<th:block th:if="${page < maxPage}">	
					<a th:href="@{goodsIpgoList(page=${page+1})}">[이후]</a>
				</th:block>
				<th:block th:if="${page >= maxPage}">	
					[이후]
				</th:block>
			</th>
		</tr>
	</table>
	</form>
	</div>
</div>
</body>
</html>