<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- bootstrap css -->
<link rel="stylesheet" href="/static/css/bootstrap.css" />
<title>Insert title here</title>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">KOSA ShoppingMall</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../goodsList">상품리스트</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../goodsRegist">상품등록</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../goodsIpgoList">상품입고현황</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../goodsIpgo">상품입고</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../purchaseList">주문내역</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../goodsQuestion">상품문의</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end of navbar -->

<div class="container">
	<!-- table -->
	<table class="table text-center mt-3">
	  	<thead class="thead-light">
		    <tr>
		    	<th colspan="2" >답변 등록 및 수정</th>
		    </tr>
	   </thead>
	  <tbody>
		<tr>
			<td>상품명</td>
			<td>[[${goodsInquireDTO.goodsDTO.goodsName}]]</td>
		</tr>
		<tr>
			<td>상품번호</td>
			<td>[[${goodsInquireDTO.goodsNum}]]</td>
		</tr>
		<tr>
			<td>종류</td>
			<td>[[${goodsInquireDTO.inquireKind}]]</td>
		</tr>
		<tr>
			<td>제목</td>
			<td>[[${goodsInquireDTO.inquireSubject}]]</td>
		</tr>
		<tr>
			<td>내용</td>
			<td>[[${goodsInquireDTO.inquireContent}]]</td>
		</tr>
		<tr>
			<td>작성자</td>
			<td>[[${goodsInquireDTO.memberNum}]]</td>
		</tr>
		<tr>
			<td>작성일</td>
			<td>[[${#dates.format(goodsInquireDTO.inquireDate,'yyyy-MM-dd')}]]</td>
		</tr>
		<tr>
			<td>답변</td>
			<td>
				<form action="../answerWrite" method="post">
					<input type="hidden" name="memberNum" th:value="${goodsInquireDTO.memberNum}" />
					<input type="hidden" name="inquireNum" th:value="${goodsInquireDTO.inquireNum}" />
					<input type="hidden" name="answerEmail" th:value="${goodsInquireDTO.answerEmail}" />
					<input type="hidden" name="inquireSubject" th:value="${goodsInquireDTO.inquireSubject}" />
					<textarea rows="6" cols="50" name="inquireAnswer">[[${goodsInquireDTO.inquireAnswer}]]</textarea>
				</form>
				<input class="btn btn-primary btn-sm" type="submit" value="답변 등록" />
			</td>
		</tr>
 	 </tbody>
	</table>
	<!-- end of table -->
</div>

</body>
</html>