<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- bootstrap css -->
<link rel="stylesheet" href="/static/css/bootstrap.css" />
<title>Insert title here</title>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">KOSA ShoppingMall</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="goodsList">상품리스트</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="goodsRegist">상품등록</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="goodsIpgoList">상품입고현황</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="goodsIpgo">상품입고</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="purchaseList">주문내역</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="goodsQuestion">상품문의</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end of navbar -->
<div class="container">
	<form action="goodsDels" method="post">
	<!-- table -->
	<table class="table text-center mt-3">
	  	<thead class="thead-light">
		    <tr>
		    	<th colspan="6" >입고 현황 리스트</th>
	    	</tr>
	    	<tr>
		    	<th colspan="3">총 입고 상품수 : [[${count}]] </th>
		    	<th colspan="3">현재 페이지 상품수 : [[${list.size()}]]</th>
		    </tr>
		    <tr>
		      <th scope="col">번호</th>
		      <th scope="col">상품 번호</th>
		      <th scope="col">입고일</th>
		      <th scope="col">수량</th>
		      <th scope="col">제조일</th>
		      <th scope="col"><input class="btn btn-dark btn-sm" type="submit" value="삭제" /></th>
		    </tr>
	   </thead>
	  <tbody>
	  	<tr th:each="goodsCommand, idx : ${list}">
		<!-- ${idx.index} : index는 0부터 시작 -->
			<td>[[${idx.count}]]</td> <!-- count : 1부터 시작 -->
			<td>
				<a th:href="@{goodsIpgoDetail(goodsNum=${goodsCommand.goodsNum}, ipgoDate=${#dates.format(goodsCommand.ipgoDate, 'yyyy-MM-dd')})}">
				[[${goodsCommand.goodsNum}]]</a>
			</td>
			<td>[[${#dates.format(goodsCommand.ipgoDate, 'yyyy-MM-dd')}]]</td>
			<td>[[${goodsCommand.ipgoQty}]]</td>
			<td>[[${#dates.format(goodsCommand.madeDate, 'yyyy-MM-dd')}]]</td>
			<td>
				<!-- <input type="checkbox" name="delete" th:value="${goodsCommand.goodsNum} ${#dates.format(goodsCommand.ipgoDate, 'yyyy-MM-dd')}" /> -->
			</td>
		</tr>
		  <tr>
			<th colspan="6">
				<th:block th:if="${page <= 1}">
					[이전]
				</th:block>
				<th:block th:if="${page > 1}">
					<a th:href="@{goodsIpgoList(page=${page-1})}">[이전]</a>
				</th:block>
				
				<th:block th:each="i : ${#numbers.sequence(startPage, endPage)}" >
					[<a th:href="@{goodsIpgoList(page=${i})}" ><th:block th:text="${i}" ></th:block></a>]
				</th:block>
					
				<th:block th:if="${page < maxPage}">	
					<a th:href="@{goodsIpgoList(page=${page+1})}">[이후]</a>
				</th:block>
				<th:block th:if="${page >= maxPage}">	
					[이후]
				</th:block>
			</th>
		</tr>
 	 </tbody>
	</table>
	<!-- end of table -->
	</form>
</div>
</body>
</html>