<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- bootstrap css -->
<link rel="stylesheet" href="/static/css/bootstrap.css" />
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<style>
	ul > li {
		list-style-type: none;
		display : inline;
	}
</style>
<script>
$(function(){
	$("#qty").change(function(){
		var qty = $("#qty").val();
		$("#tot").html(qty * [[${goodsCommand.goodsPrice}]]);
	});
	$("#wishBtn").click(function(){
		if([[${session.authInfo == null}]]) {
			alert("로그인을 하셔야 합니다.");
			location.href="/";
			return false;
		}else {
			$.ajax({
				type : "post",
				url : "/cart/goodsWishAdd",
				dataType : "text",
				data : {"goodsNum" : "[[${goodsCommand.goodsNum}]]"},
				success : function(result){
					if(result.trim() == "1") {
						$("#wishBtn").attr("src", "/static/images/right_arrow.png");
						alert("관심상품에 등록되었습니다.");
					}else if(result.trim() == "0") {
						$("#wishBtn").attr("src", "/static/images/left_arrow.png");
						alert("관심상품이 삭제되었습니다.");
					}
				},
				error : function() {
					alert("로그아웃되었습니다. \n 다시 로그인해주세요.");
					location.href="/";
					return false;
				}
			});
		}
	});
	
	$("#cartAdd").click(function(){
		$.ajax({
			type : "post",
			url : "/cart/goodsCartAdd",
			dataType : "text",
			data : {"goodsNum" : "[[${goodsCommand.goodsNum}]]", "goodsQty" : $("#qty").val()},
			success : function(result){
				if(result.trim() == "1") {
					if(confirm("계속 쇼핑하시려면 '아니오'를 누르시오.")) {
						location.href="/cart/goodsCartList";
					}
				}else {
					alert("장바구니에 담기지 않았습니다. \n다시 시도해주세요.");
				}
			},
			error : function(){
				alert("error!!!");
				return;
			}
		});
	});
	
	$("#review").click(function(){
		$.ajax({
			type : "post",
			url : "/corner/reviewList",
			dataType : "html",
			data : {"goodsNum" : "[[${goodsCommand.goodsNum}]]"},
			success : function(result){
				$("#notice").html(result);
			},
			error : function(){
				alert("error!!!");
				return;
			}
		});
	});

/*
	$("#inquire").click(function(){
		$.ajax({
			type : "post",
			url : "/corner/inquireList",
			dataType : "html",
			data : {"goodsNum" : "[[${goodsCommand.goodsNum}]]"},
			success : function(result){
				$("#notice").html(result);
			},
			error : function(){
				alert("error!!!");
				return;
			}
		});
	});
*/
});

/* 
 버튼이 아닌 이유 : 작성 완료 후 페이지 닫힘과 동시에 다시 불러와서 리로드되어야 하기 때문에 
 서블릿에서 함수를 불러서 사용하기 위해 함수로 작성
*/
function inquire() {
	$.ajax({
		type : "post",
		url : "/corner/inquireList",
		dataType : "html",
		data : {"goodsNum" : "[[${goodsCommand.goodsNum}]]"},
		success : function(result){
			$("#notice").html(result);
		},
		error : function(){
			alert("error!!!");
			return;
		}
	});
}
</script>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">KOSA ShoppingMall</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end of navbar -->


<div class="container">
	<form action="#" name="frm" method="post">
	<!-- table -->
	<table class="table text-center mt-5">
	  	<thead class="thead-light">
		    <tr>
		    	<th colspan="2" >[[${goodsCommand.goodsName}]] 상품 설명입니다.</th>
		    </tr>
	   </thead>
	  <tbody>
	  	<tr>
			<td rowspan="6" >
				<img height="500" width="500" th:src="|/goods/upload/${goodsCommand.goodsMain}|" />
			</td>
			<td width="300">[[${goodsCommand.goodsName}]] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 관심상품<img src="/static/images/left_arrow.png" id="wishBtn" >
			</td>
		</tr>
		<tr>
			<td align="left">가격 : [[${#numbers.formatCurrency(goodsCommand.goodsPrice)}]]원</td>
		</tr>
		<tr>
			<td align="left">배송비 : 
				<span th:if="${goodsCommand.deliveryCost == 0}" th:text="무료배송"></span>
				<span th:if="${goodsCommand.deliveryCost != 0}" th:text="${goodsCommand.deliveryCost}"></span>원
			</td>
		</tr>
		<tr>
			<td align="left">수량 :
				<input type="number" size="3" min="1" name="purchaseQty" value="1" id="qty" onChange="onQty();"/>
				[[${#numbers.formatCurrency(goodsCommand.goodsPrice)}]]원
			</td>
		</tr>
		<tr>
			<td align="left">총 상품 금액 : &nbsp;&nbsp;
				<span id="tot">[[${goodsCommand.goodsPrice}]]</span>원
			</td>
		</tr>
		<tr>
			<td align="center">
				<input type="button" value="장바구니" id="cartAdd" />
				<input type="submit" value="바로구매" />
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<h5>제품 상세 설명</h5>
			 <p>
				<span th:utext="${#strings.replace(goodsCommand.goodsContent, newLineChar, '&lt;br /&gt;')}"></span>
			 <p>
			<th:block th:each="goodsImage : ${#strings.arraySplit(goodsCommand.goodsImages,'`')}">
				<img height="500" th:src="|/goods/upload/${goodsImage}|"/><br /><br />
			</th:block>
		</td>
	</tr>
 	 </tbody>
</table>
<!-- end of table -->
</form>

<!-- table -->
<table class="table table-borderless text-center mt-3">
<tr>
	<td>
		<span id="review">리뷰</span>
	</td>
	<td>
		<span id="inquire" onclick="inquire();">상품문의</span>
	</td>
</tr>
<tr>
	<td>
		<span id="notice">
		</span>
	</td>
</tr>
</table>
<!-- end of table -->


</div>
</body>
</html>