<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- bootstrap css -->
<link rel="stylesheet" href="/static/css/bootstrap.css" />
<title>약관 동의</title>
</head>
<body>
<div class="container">
	<table class="table text-center mt-3" width="20%">
		<thead class="thead-light">
		    <tr>
		    	<th><h3>약관 동의</h3></th>
	    	</tr>
	   	</thead>
	   	<tbody class="table-borderless">
	   		<tr>
		    	<th>약관 내용</th>
	    	</tr>
	   		<tr>
		    	<td>... (생략)</td>
	    	</tr>
	   		<tr>
		    	<td>
		    		<form th:action="@{regist}" method="post">
						<input type="checkbox" name="agree" value="true" /><br />
						<input class="btn btn-outline-primary btn-sm" type="submit" value="동의" />
					</form>
		    	</td>
	    	</tr>
    	</tbody>
   	</table>
	
</div>
</body>
</html>