<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	#leftMenu {
		width: 25%;
		float: left;
		border-right: 1px solid gray;
		height:500px;
	}
	#memberInfo {
		width: 70%;
		float: right;
		padding-left: 30px;
	}
</style>
</head>
<body>
<div id="leftMenu" >
	<ul>
		<li><a href="memberDetail">내 정보 보기</a></li>
		<li><a href="memberPw">내 정보 수정</a></li>
		<li><a href="memberPwForm">비밀번호 수정</a></li>
		<li><a href="memberUserDel">회원 탈퇴</a></li>
	</ul>
</div>

<div id="memberInfo">
내 정보<br />
번호 : [[${memberCommand.memberNum}]]<br />
아이디 : [[${memberCommand.memberId}]]<br />
이름 : [[${memberCommand.memberName}]]<br />
생년월일 : [[${#dates.format(memberCommand.memberBirth,'yyyy-MM-dd')}]]<br />
성별 : [[${memberCommand.gender}]]<br />
이메일 : [[${memberCommand.memberEmail}]]<br />
연락처 : [[${memberCommand.memberPhone}]]<br />
주소 : [[${memberCommand.memberAddr}]]<br />
등록일 : [[${#dates.format(memberCommand.memberRegist,'yyyy-MM-dd')}]]<br />
	
</div>
</body>
</html>