<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	#leftMenu {
		width: 25%;
		float: left;
	}
	
	#memberInfo {
		width: 70%;
		float: right;
		border-left: 1px solid gray;
		padding-left: 30px;
	}
</style>
</head>
<body>
<div id="leftMenu" >
	<ul>
		<li><a href="memberDetail">내 정보 보기</a></li>
		<li><a href="memberModify">내 정보 수정</a></li>
		<li><a href="memberPwForm">비밀번호 수정</a></li>
		<li><a href="memberUserDel">회원 탈퇴</a></li>
	</ul>
</div>

<div id="memberInfo">
<form action="memberPwForm" method="post">
	<input type="text" name="memberNum" th:value="${memberCommand.memberNum}" readonly="readonly"/><br />
	현재 비밀번호 : <input type="password" name="oldPw" /><br /> 
	새로운 비밀번호 : <input type="password" name="newPw" /><br />
	<input type="submit" value="수정" /> 
</form>
</div>
</body>
</html>