<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
수정<br />

<form action="goodsUpdateOk">
	제품번호 : <input type="text" name="goodsNum" readonly="readonly" th:value="${dto.goodsNum}" /><br />
	제품이름 : <input type="text" name="goodsName" th:value="${dto.goodsName}"/><br />			
	제품가격 : <input type="number" name="goodsPrice" min="100" value="1000" th:value="${dto.goodsPrice}"/><br />			
	제조일 : <input type="date" name="goodsDate" th:value="${dto.goodsDate}" /><br />			
	제품설명 : <textarea rows="6" cols="40" name="goodsContent">[[${dto.goodsContent}]]</textarea><br />			
	수량 : <input type="number" min="1" value="1" name="goodsQty" th:value="${dto.goodsQty}" /><br />			
	제조사 : <input type="text" name="goodsCompany" th:value="${dto.goodsCompany}" /><br />
	<input type="submit" value="수정완료" />
</form>
</body>
</html>