<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosaShoppingMall.mapper.EmployeeMapper">

<insert id="empInsert" parameterType="empDTO">
	insert into employees (emp_id, emp_pw, emp_name, emp_addr, emp_phone, emp_email)
	values (#{empId},#{empPw},#{empName},#{empAddr},#{empPhone},#{empEmail})
</insert>

<select id="selectAll" resultType="empDTO" parameterType="startEndPageDTO">
	select *
	from (select rownum rn, emp_id empId, emp_pw empPw, emp_name empName, emp_addr empAddr, emp_phone empPhone, emp_email empEmail 
			from employees)
	where rn between #{startRow} and #{endRow}
</select>

<select id="selectOne" parameterType="String" resultType="empDTO">
	select emp_id empId, emp_pw empPw, emp_name empName, emp_addr empAddr, emp_phone empPhone, emp_email empEmail
	from employees
	where emp_id = #{empId}
</select>

<update id="empUpdate" parameterType="empDTO">
	update employees
	set emp_name = #{empName}, emp_addr = #{empAddr}, emp_phone = #{empPhone}
	where emp_id = #{empId}
</update>

<delete id="empDel">
	delete from employees
	where emp_id = #{empId}
</delete>

<update id="empPassUpdate" parameterType="empDTO">
 	update employees
 	set emp_pw = #{empPw}
 	where emp_id = #{empId}
</update>

<!--  =========== 여러개 삭제 ===========  -->
<!-- 1. 배열 사용 -->
<delete id="empDels" parameterType="hashMap">
 	delete from employees
 	<where> emp_id in
 	<foreach collection="deletes" item="empId" index="index" open="(" close=")" separator=",">
 		#{empId}
 	</foreach>
 	</where> 
</delete>

<!-- 2. 리스트 사용 -->
<delete id="empDels2" parameterType="hashMap">
 	delete from employees
 	<where> emp_id in
 	<foreach collection="cs" item="empId" index="index" open="(" close=")" separator=",">
 		#{empId}
 	</foreach>
 	</where> 
</delete>

<!-- 3. Map 사용 -->
<delete id="empDels3" parameterType="hashMap">
 	delete from employees
 	<where> emp_id in
 	<foreach collection="empIds" item="empId" index="index" open="(" close=")" separator=",">
 		#{empId}
 	</foreach>
 	</where> 
</delete>

<!-- 전체 count -->
<select id="empCount" resultType="int">
	select count(*) from employees
</select>

<!-- 메일로 비밀번호 찾기 -->
<update id="changPw" parameterType="authInfo">
	update employees
	set emp_pw = #{userPw}
	where emp_id = #{userId}
</update>
</mapper>