<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosaShoppingMall.mapper.MemberMapper">
<sql id="AutoNum">
	select concat('kosa',nvl(max(substr(member_num,5)), 100000) + 1)
	from member
</sql>

<insert id="memberInsert" parameterType="memDTO">
	insert into member (member_num, member_id, member_name, member_pw, member_addr, member_birth, member_email, gender, member_regist, member_phone)
	values ((<include refid="AutoNum"/>), #{memberId}, #{memberName}, #{memberPw}, #{memberAddr}, #{memberBirth}, #{memberEmail}, #{gender}, sysdate, #{memberPhone})
</insert>

<select id="selectAll" resultType="memDTO">
	select member_num memberNum, member_id memberId, member_pw memberPw, member_name memberName, member_addr memberAddr, member_birth memberBirth, member_phone memberPhone, member_regist memberRegist, gender, member_email memberEmail
	from member
	order by member_num desc
</select>

<select id="selectOne" resultType="memDTO" parameterType="String">
	select member_num memberNum, member_id memberId, member_pw memberPw, member_name memberName, member_addr memberAddr, member_birth memberBirth, member_phone memberPhone, member_regist memberRegist, gender, member_email memberEmail
	from member
	where member_num = #{memberNum}
</select>

<update id="memberUpdate" parameterType="memDTO">
	update member
	set member_id = #{memberId}, member_pw = #{memberPw}, member_name = #{memberName}, member_addr = #{memberAddr}, gender = #{gender}, member_phone = #{memberPhone}, member_birth = #{memberBirth}, member_email = #{memberEmail}
	where member_num = #{memberNum}
</update>

<delete id="memberDel" parameterType="String">
 	delete from member
 	where member_num = #{memberNum}
</delete>
</mapper>