<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script>
function del(){
	$.ajax({
		type : "post",
		url : "/cart/reviewDel",
		data : {"purchaseNum" : "[[${goodsReviewDTO.reviewDTO.purchaseNum}]]",
				"goodsNum" : "[[${goodsReviewDTO.goodsDTO.goodsNum}]]"},
		success : function(result) {
			if(result.trim() > '0') {
				alert("삭제되었습니다.");
				location.href="/"
			}else {
				alert("삭제되지 않았습니다.");
				return false;
			}
		},
		error : function() {
			alert("error!!!");
			return false;
		}
	});
}
</script>
</head>
<body>
<img th:src="|/goods/upload/${goodsReviewDTO.goodsDTO.goodsMain}|" width="100"/><br />
상품명 : [[${goodsReviewDTO.goodsDTO.goodsName}]] | 
리뷰 등록일 : [[${#dates.format(goodsReviewDTO.reviewDTO.reviewDate, 'yyyy-MM-dd')}]]
<form action="goodsReviewUpdate" method="post">
<input type="hidden" name="goodsNum" th:value="${goodsReviewDTO.goodsDTO.goodsNum}" />
<input type="hidden" name="purchaseNum" th:value="${goodsReviewDTO.reviewDTO.purchaseNum}" />
<table>
	<tr>
		<td>리뷰수정</td>
		<td>
			<textarea rows="5" cols="30" name="reviewContent">[[${goodsReviewDTO.reviewDTO.reviewContent}]]</textarea>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="submit" value="리뷰수정완료" />
			<input type="button" name="delete" value="삭제" onclick="del()" />
		</td>
	</tr>
</table>
</form>
</body>
</html>