<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- bootstrap css -->
<link rel="stylesheet" href="/static/css/bootstrap.css" />
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script>
$(function(){
	$("#frmMain").submit(function(){
		if([[${session.authInfo == null}]]) {
			alert("로그인을 하셔야 합니다.");
			opener.location.href="/";
			window.self.close();
			return false;
		}
	});
});
</script>
</head>
<body>
<div class="container">
	<form method="post" action="inquireWrite" id="frmMain">
	<input type="hidden" name="goodsNum" th:value="${goodsNum}" />
	<!-- table -->
	<table class="table mt-3 tbl-qna">
	  	<colgroup>
			<col style="width: 20%;">
			<col>
		</colgroup>
	  	<thead class="thead-light withname" id="body">
		    <tr>
		    	<th scope="col" class="fl text-center" colspan="2">판매자에게 문의하기</th>
	    	</tr>
		    <tr>
		      <th scope="col">상품명</th>
		      <th scope="col">[[${goodsName}]]</th>
		    </tr>
	   </thead>
	  <tbody>
		<tr>
			<th>문의유형</th>
			<td class="type">
				<input type="radio" id="hchkQueryType1"	name="hchkQueryType" value="상품" />상품(성능/사이즈) 
				<input type="radio" id="hchkQueryType2" name="hchkQueryType" value="배송" />배송
				<input type="radio" id="hchkQueryType3" name="hchkQueryType" value="교환" />교환
				<input type="radio" id="hchkQueryType4" name="hchkQueryType" value="반품/취소/환불" />반품/취소/환불 
				<input type="radio" id="hchkQueryType5" name="hchkQueryType" value="기타" />기타
			</td>
		</tr>
		<tr class="cont">
			<th>제목</th>
			<td><input type="text" name="inquireSubject"  /></td>
		</tr>
		<tr class="cont">
			<th>내용</th>
			<td>
				<textarea cols="50" rows="10" name="inquireContent"></textarea>
			</td>
		</tr>
		<tr class="alarm">
			<th>답변알림</th>
			<td>
				<input type="text" id="email1" name="email1" value="highland0" size="20" maxlength="35" /> @ 
				<input id="email2" type="text" name="email2" maxlength="30" value="nate.com" />
			</td>
		</tr>
	</tbody>
	</table>
	<!-- end of table -->
	
	<div id="bottombutton" class="bottom-button layerpopup">
		<input class="btn btn-primary btn-sm mr-auto" type="submit" name="btnInsert" id="btnInsert" value="문의하기" /> 
		<a href="javascript:self.close();" class="btn btn-primary btn-sm mr-auto">취소</a>
	</div>
	</form>
</div>
</body>
</html>