<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script >
$(function(){
	$("#inquire1").click(function(){
		window.open("inquireWrite?goodsNum=[[${goodsNum}]]","문의하기","width=700, height=650, top=100, left=100");
	});
});
</script>
</head>
<body>
<table border="1" width="600" align="center">
	<tr><td colspan="6" align="right"><button type="button" id="inquire1" >문의 하기</button></td></tr>
	<tr><td>번호</td><td>답변 상태</td><td>문의유형</td><td>문의제목</td><td>작성자</td><td>작성일자</td></tr>
	<th:block  th:each="goodsInquireDTO, idx : ${list}" >
	<tr>
		<td>[[${idx.count}]]</td>
		<td>[[${goodsInquireDTO.inquireAnswer}]]</td>
		<td>[[${goodsInquireDTO.inquireKind}]]</td>
		<td>[[${goodsInquireDTO.inquireSubject}]]</td>
		<td>[[${goodsInquireDTO.memberDTO.memberId}]]</td>
		<td>[[${#dates.format(goodsInquireDTO.inquireDate,'yyyy-MM-dd')}]]</td>
	</tr> 
	<tr th:if="dto.inquireAnswer != null" th:id="ing+${idx.count}" style="display:none">
		<td colspan="5">[[${#dates.format(goodsInquireDTO.inquireDate,'yyyy-MM-dd')}]]<br />
			[[${goodsInquireDTO.inquireAnswer}]]
		</td>
	</tr>
	<tr><td colspan="6">&nbsp;&nbsp;&nbsp;</td></tr>
	</th:block>
</table>
</body>
</html>