<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- bootstrap css -->
<link rel="stylesheet" href="/static/css/bootstrap.css" />
<title>Insert title here</title>
<script >
$(function(){
	$("#inquire1").click(function(){
		window.open("inquireWrite?goodsNum=[[${goodsNum}]]","문의하기","width=800, height=650, top=100, left=100");
	});
	
	$("#update1").click(function(){
		window.open("inquireUpdate?inquireNum="+$('#inquireNum').val(),"수정","width=500, height=450, top=100, left=900");
	});
});

function answer(id, id1){
	status = $(id).css("display");
	if (status == "none") { 
		$(id).css("display", ""); 
		$(id1).text("답변  닫기");
	} else { 
		$(id).css("display", "none"); 
		$(id1).text("답변  열기");
	}
}
</script>
</head>
<body>

<div class="container">
	<form action="reviewUpdate">
	<!-- table -->
	<table class="table mt-3">
	  	<thead class="thead-light">
		    <tr>
		      <td colspan="7">
		      	<button class="btn btn-primary btn-sm" type="button" id="inquire1">문의 하기</button>
		      </td>
		    </tr>
		    <tr>
		      <th scope="col">번호</th>
		      <th scope="col">답변 상태</th>
		      <th scope="col">문의유형</th>
		      <th scope="col">작성자</th>
		      <th scope="col">작성일자</th>
		    </tr>
	   </thead>
	  <tbody>
	  	<th:block  th:each="goodsInquireDTO, idx : ${list}" >
			<input type="hidden" name="inquireNum" id="inquireNum" th:value="${goodsInquireDTO.inquireNum}" />
			<tr>
				<td>[[${idx.count}]]</td>
				<td>검토중</td>
				<td>[[${goodsInquireDTO.inquireKind}]]</td>
				<td>[[${goodsInquireDTO.memberDTO.memberId}]]</td>
				<td>[[${#dates.format(goodsInquireDTO.inquireDate,'yyyy-MM-dd')}]]</td>
			</tr> 
			<tr>
				<td></td>
				<td>
					[[${goodsInquireDTO.inquireSubject}]]
					 <a th:href="|javascript:answer('#inq${idx.count}', ingu${idx.count})|">
					 	<span th:id = "ingu + ${idx.count}" class="btn btn-outline-primary btn-sm">답변 열기</span></a>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<th:block th:if="${session.memberId} == ${goodsInquireDTO.memberDTO.memberId}">		
						<!-- <a th:href="@{inquireUpdate(inquireNum=${goodsInquireDTO.inquireNum})}" id="update">
								[[${goodsInquireDTO.inquireContent}]]</a>
						 -->
						[[${goodsInquireDTO.inquireContent}]]
					<button class="btn btn-primary btn-sm" type="button" id="update1" >수정</button>
					</th:block>
					<th:block th:if="${session.memberId} != ${goodsInquireDTO.memberDTO.memberId}">		
						[[${goodsInquireDTO.inquireContent}]]
					</th:block>
				</td>
			</tr>
			<tr th:if="dto.inquireAnswer != null" th:id="inq+${idx.count}" style="display:none">
				<td></td>
				<td>[[${#dates.format(goodsInquireDTO.inquireDate,'yyyy-MM-dd')}]]<br />
					[[${goodsInquireDTO.inquireAnswer}]]
				</td>
			</tr>
			<tr>
				<td colspan="7"></td>
			</tr>
		</th:block>
 	 </tbody>
	</table>
	<!-- end of table -->
	</form>
</div>

</body>
</html>