<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- bootstrap css -->
<link rel="stylesheet" href="/static/css/bootstrap.css" />
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	if($('input[name=prodCk]').length == ($('input[name=prodCk]').prop('checked',true)).length) {
	       $('#prodCkAll').prop('checked',true);
	}
	
	$("#prodCkAll").click(function(){
		if($('#prodCkAll').prop('checked')){
	       $('input[name=prodCk]').prop('checked',true);
	    }else{
	       $('input[name=prodCk]').prop('checked',false);
	    }
	});
	
	$("input[name=prodCk]").click(function() {
		var total = $("input[name=prodCk]").length;
		var checked = $("input[name=prodCk]:checked").length;

		if(total != checked) $("#prodCkAll").prop("checked", false);
		else $("#prodCkAll").prop("checked", true); 
	});
});

function dels() {
/*	var chk_arr = [];
	$("input:checkbox[name=prodCk]:checked").each(function(){
		var checkVal = $(this).val();
		chk_arr.push(checkVal);
	}); 
	console.log(chk_arr);
	*/
	/*
	var chk_arr = [];
	var chk_arr1 = [];
	$("input:checkbox[name=prodCk]:checked").each(function(){
		var checkVal = $(this).val();
		var arr =[];
		var arr1 = [];
		arr = checkVal.split("`")[0];
		arr1 = checkVal.split("`")[1];
		chk_arr.push(arr);
		chk_arr1.push(arr1);
	});
	console.log(chk_arr);
	console.log(chk_arr1);
	*/

	
	var list = [];
	$("input:checkbox[name=prodCk]:checked").each(function(){
		var checkVal = $(this).val();
		
		var chk_arr2 = checkVal.split("`"); /// {"111","222","333"} | {"111`222`333"}`{"111`222`333"}
		                                    /// var aaa = "111`222`333".split("`") // 1차원
		                              
		                                    // bbb= "2202252312","sdafff";
		                                    
		//var listdate = {"Nation" : chk_arr2[0] ,"Brand" :chk_arr2[1]};
		//list.push(listdate);
		list.push(chk_arr2);
	}); 
	
	var jsonData = JSON.stringify(list);
	console.log(jsonData);
	 jQuery.ajaxSettings.traditional = true;
	
	if($("input:checkbox[name=prodCk]:checked").length < 1) {
		alert("하나 이상 선택하셔야 합니다.");
	}else {
		$.ajax({
			type : "post",
			url : "/cart/delPurchase",
			dataType : "text",
			data : {"purchaseNum" : jsonData},
			success : function(result){
				if(result.trim() > "0") {
					alert("삭제되었습니다.");
					location.href="/cart/orderList";
				}else {
					alert("삭제되지 않았습니다.");
				}
			},
			error : function(){
				console.log(goodsNum);
				alert("error!!!");
				return false;
			}
		});
	}
}
</script>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">KOSA ShoppingMall</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="orderList">주문목록</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="goodsCartList">장바구니</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../mypage/memberDetail">내 정보</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="../mypage/memberDetail" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            내 정보
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="../mypage/memberDetail">내 정보 보기</a></li>
            <li><a class="dropdown-item" href="../mypage/memberModify">내 정보 수정</a></li>
            <li><a class="dropdown-item" href="../mypage/memberPwForm">비밀번호 수정</a></li>
            <li><a class="dropdown-item" href="../mypage/memberUserDel">회원 탈퇴</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<!-- end of navbar -->
<div class="container">
	<form action="goodsBuy" method="post" onsubmit="return goodsCheck();">
	<!-- table -->
	<table class="table text-center mt-3">
	  	<thead class="thead-light">
		    <tr>
		    	<th colspan="5" >주문 목록</th>
		    </tr>
		    <tr>
		      <th scope="col"><input type="checkbox" id="prodCkAll"  /></th>
		      <th scope="col">주문일(결제번호)</th>
		      <th scope="col">상품명/주문번호</th>
		      <th scope="col">주문상태</th>
		      <th scope="col"><input class="btn btn-dark btn-sm" type="button" onclick="javascript:dels()" value="선택 삭제" /></th>
		    </tr>
	   </thead>
	  <tbody>
	  	<tr th:each="dto : ${list}">
		<td>
			<th:block th:if="${dto.confirmNumber == null}">
				 <!-- <input type="checkbox" name="prodCk" th:value="${dto.purchaseNum}" > -->
			 	<input type="checkbox" name="prodCk" th:value="${dto.purchaseNum+'`'+dto.recieveName}" >
			</th:block>
			<th:block th:if="${dto.confirmNumber != null}">
				<input type="checkbox"  disabled="disabled" >	 
			</th:block>
		</td>
		<td> 
			<input type="hidden" id="goodsName" th:value="${dto.goodsName}" />
			[[${#dates.format(dto.purchaseDate,'yyyy-MM-dd')}]] ||[[${dto.recieveName}]]
			(<span th:if="${dto.confirmNumber != null}" th:text="${dto.confirmNumber}"></span>
			<span th:if="${dto.confirmNumber == null}" th:text="입금대기중"></span>)
		</td>
		<td>
			<img th:src="|/goods/upload/${dto.goodsMain}|" width="50"/>[[${dto.goodsName}]] / [[${dto.purchaseNum}]] / 
		</td>
		<td>
			<a th:href="@{purchaseDetail(purchaseNum=${dto.purchaseNum})}">주문 상세 보기</a><br />
			결제 금액 : [[${dto.totalPrice}]]<br />[[${dto.purchaseStatus}]] |
			<a th:if="${dto.purchaseStatus == '결제대기중'}" th:href="@{paymentOk(purchaseNum=${dto.purchaseNum},totalPrice=${dto.totalPrice})}">결제하기</a> 
			<a th:if="${dto.purchaseStatus != '결제완료' and dto.purchaseStatus != '배송완료' and dto.purchaseStatus != '결제대기중'}" th:href="@{paymentCancel(purchaseNum=${dto.purchaseNum})}">결제취소</a>
			<th:block th:if="${dto.reviewContent == null}">
				<a th:if="${dto.purchaseStatus == '배송완료'}" th:href="@{goodsReview(goodsNum=${dto.goodsNum},purchaseNum=${dto.purchaseNum})}">리뷰등록</a> 
			</th:block>
			<th:block th:if="${dto.reviewContent != null}">
				<a th:href="@{goodsReviewUpdate(goodsNum=${dto.goodsNum},purchaseNum=${dto.purchaseNum})}" >리뷰수정</a>
			</th:block>
		</td>
		<td>
			<a th:if="${dto.purchaseStatus == '결제대기중'}" th:href="@{paymentDel(purchaseNum=${dto.purchaseNum})}">삭제하기</a> 
		</td>
	</tr>
	<tr>
		<td colspan="7" align="center">
			<input class="btn btn-primary btn-sm" type="submit" value="구매하기" />
		</td>
	</tr>
 	 </tbody>
	</table>
	<!-- end of table -->
	</form>
</div>
</body>
<!-- bootstrap js 사용 --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<script type="text/javascript" src="/static/js/bootstrap.bundle.js"></script>
</html>