<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- bootstrap css -->
<link rel="stylesheet" href="/static/css/bootstrap.css" />
<title>Insert title here</title>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">KOSA ShoppingMall</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="orderList">주문목록</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="goodsCartList">장바구니</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../mypage/memberDetail">내 정보</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="../mypage/memberDetail" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            내 정보
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="../mypage/memberDetail">내 정보 보기</a></li>
            <li><a class="dropdown-item" href="../mypage/memberModify">내 정보 수정</a></li>
            <li><a class="dropdown-item" href="../mypage/memberPwForm">비밀번호 수정</a></li>
            <li><a class="dropdown-item" href="../mypage/memberUserDel">회원 탈퇴</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<!-- end of navbar -->
<div class="container">
	<form action="doPayment" method="post">
	<input type="hidden" name="purchaseNum" th:value="${purchaseNum}" />
	<input type="hidden" name="totalPrice" th:value="${totalPrice}" />
	
	<!-- table -->
	<table class="table text-center mt-3">
	  	<thead class="thead-light">
		    <tr>
		    	<th colspan="2" ><h3>주문 상세 보기</h3></th>
		    </tr>
	   </thead>
	   <tbody>
		  	<th:block th:each="orderListDTO : ${list}">
				<tr>
					<td >
						<img th:src="|/goods/upload/${orderListDTO.goodsMain}|" width="250"/>
					</td>
					<td>
						<table class="table table-borderless">
							<tr>
								<th>제품명</th>
								<td>
									[[${orderListDTO.goodsName}]]
								</td>
							</tr>
							<tr>
								<th>제품 가격</th>
								<td>
									[[${orderListDTO.goodsPrice}]]원
								</td>
							</tr>
							<tr>
								<th>주문 수량</th>
								<td>
									[[${orderListDTO.purchaseQty}]]개
								</td>
							</tr>
							<tr>
								<th>주문 금액</th>
								<td>
									[[${orderListDTO.purchasePrice}]]원
								</td>
							</tr>
							<tr>
								<th>배송비</th>
								<td>
									[[${orderListDTO.deliveryCost}]]원
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<b>상품 설명</b><br />
						<span th:utext="${#strings.replace(orderListDTO.goodsContent + newLineChar +'문자열 붙이기', newLineChar, '&lt;br /&gt;')}"></span>
					</td>
				</tr>
			</th:block>
	  </tbody>
	</table>
	<!-- end of table -->
	<!-- table -->
	<table class="table table-borderless text-center mt-3">
	  	<thead class="thead-light">
		    <tr>
		    	<th colspan="2" ><h3>주문 내용</h3></th>
		    </tr>
	   </thead>
	   <tbody>
			<tr>
				<th>주문 번호</th>
				<td>
					[[${list[0].purchaseNum}]]
				</td>
			</tr>
			<tr>
				<th>주문 날짜</th>
				<td>
					[[${#dates.format(list[0].purchaseDate, 'yyyy-MM-dd')}]]
				</td>
			</tr>
			<tr>
				<th>주문 금액</th>
				<td>
					[[${#numbers.formatCurrency(list[0].purchasePrice)}]]원
				</td>
			</tr>
			<tr>
				<th>배송지</th>
				<td>
					[[${list[0].purchaseAddr}]]
				</td>
			</tr>
			<tr>
				<th>연락처</th>
				<td>
					[[${list[0].purchasePhone}]]
				</td>
			</tr>
			<tr>
				<th>받는 사람</th>
				<td>
					[[${list[0].recieveName}]]
				</td>
			</tr>
			<tr>
				<th>주문 메세지</th>
				<td>
					[[${list[0].message}]]
				</td>
			</tr>
	   </tbody>
	</table>
	<!-- end of table -->
	<!-- table -->
	<table class="table table-borderless text-center mt-3">
	  	<thead class="thead-light">
		    <tr>
		    	<th colspan="2" ><h3>결제 내용</h3></th>
		    </tr>
	   </thead>
	   <tbody>
			<tr>
				<th>결제 방법</th>
				<td>
					[[${list[0].paymentKind}]]
				</td>
			</tr>
			<tr>
				<th>결제 금액</th>
				<td>
					<span th:if="${list[0].paymentPrice == null}" th:utext="0원"></span>
					<span th:if="${list[0].paymentPrice != null}" th:utext="${#numbers.formatCurrency(list[0].paymentPrice)} + '원'"></span><br />
				</td>
			</tr>
			<tr>
				<th>결제일</th>
				<td>
					[[${#dates.format(list[0].paymentDate,'yyyy-MM-dd')}]]
				</td>
			</tr>
			<tr>
				<th>카드 번호</th>
				<td>
					[[${list[0].cardNumber}]]
				</td>
			</tr>
	   </tbody>
	</table>
	</form>
	<a href="orderList" class="btn btn-primary btn-sm mr-auto">구매 내역으로 이동</a>
</div>
</body>
</html>