<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1">
		<tr>
			<td>아이디</td>
			<td>작성날짜</td>
			<td>별점</td>
			<td>리뷰내용</td>
		</tr>
		<tr th:each="reviewDTO : ${list}">
			<td>[[${reviewDTO.memberDTO.memberId}]]</td>
			<td>[[${#dates.format(reviewDTO.reviewDate, 'yyyy-MM-dd')}]]</td>
			<td>[[${reviewDTO.score}]]</td>
			<td>
				<span th:utext="${#strings.replace(reviewDTO.reviewContent, newLineChar, '&lt;br /&gt;')}"></span>
			</td>
		</tr>
	</table>
</body>
</html>