<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="springBootTest2.mapper.MembershipMapper">
<sql id="AutoNum">
	select nvl(max(substr(mem_num,5)), 100000) + 1 from member
</sql>

<insert id="memberInsert" parameterType="springBootTest2.domain.MemberDTO">
	insert into member(mem_num, mem_name, mem_regi_date, mem_id, mem_pw, 
					mem_phone1, mem_phone2, mem_addr, mem_email, mem_gender, mem_birth)
	values(concat('kosa',(<include refid="AutoNum" />)), #{memName}, sysdate, #{memId}, #{memPw},
			#{memPhone1}, #{memPhone2}, #{memAddr}, #{memEmail}, #{memGender}, #{memBirth})
</insert>

<select id="selectOne" parameterType="String" resultType="springBootTest2.domain.MemberDTO">
	select mem_num memNum, mem_name memName, mem_regi_date memRegiDate, 
			mem_id memId, mem_pw memPw, mem_phone1 memPhone1, mem_phone2 memPhone2, 
			mem_addr memAddr, mem_email memEmail, mem_gender memGender, mem_birth memBirth
	from member
	where mem_id = #{memId}				
</select>

<update id="memberUpdate" parameterType="springBootTest2.domain.MemberDTO">
	update member
	set mem_name = #{memName}, mem_phone1 = #{memPhone1}, mem_phone2 = #{memPhone2},
		mem_addr = #{memAddr}, mem_email = #{memEmail}, mem_gender = #{memGender}, mem_birth = #{memBirth}
	where mem_num = #{memNum}
</update>

<update id="updatePassword" parameterType="springBootTest2.domain.MemberDTO">
	update member
	set mem_pw = #{memPw}
	where mem_id = #{memId}
</update>

<delete id="memberDrop" parameterType="String">
 	delete from member
 	where mem_id = #{memId}
</delete>
</mapper>