<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="springBootTest2.mapper.QnaMapper">
<sql id="baseColumns">
	qna_num, qna_subject, qna_content, visit_count, qna_regi_date
</sql>
<sql id="maxNum">
	select nvl(max(qna_num),0) + 1 from qna
</sql>

<insert id="qnaInsert" parameterType="springBootTest2.domain.QnaDTO">
	insert into qna(qna_num, qna_subject, qna_content, qna_regi_date)
	values((<include refid="maxNum"/>), #{qnaSubject}, #{qnaContent}, sysdate)
</insert>

<select id="selectAll" resultType="springBootTest2.domain.QnaDTO">
	select qna_num qnaNum, qna_subject qnaSubject, qna_content qnaContent
	from qna
	order by qna_num desc
</select>

<select id="selectOne" parameterType="Integer" resultType="springBootTest2.domain.QnaDTO">
	select qna_num qnaNum, qna_subject qnaSubject, qna_content qnaContent, qna_regi_date qnaRegiDate
	from qna
	where qna_num = #{qnaNum}
</select>

<delete id="qnaDel" parameterType="Integer">
	delete from qna
	where qna_num = #{qnaNum}
</delete>

<update id="qnaUpdate" parameterType="springBootTest2.domain.QnaDTO">
	update qna
	set qna_subject = #{qnaSubject}, qna_content = #{qnaContent}
	where qna_num = #{qnaNum}
</update>

</mapper>