<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="school.mapper.ProfessorMapper">

<select id="autoNum" resultType="string">
	select concat('tea_',nvl(max(substr(professor_num,5)),1000000) + 1) from professor
</select>

<insert id="setProfessorInsert" parameterType="professorDTO">
 	insert into professor(professor_num, professor_name, professor_phone, professor_email, professor_id, professor_pw, department_num)
 	values(#{professorNum},#{professorName},#{professorPhone},#{professorEmail},#{professorId},#{professorPw},#{departmentNum})
</insert>

<select id="selectAll" resultType="professorDTO">
	select professor_num professorNum, professor_name professorName, professor_phone professorPhone, professor_email professorEmail, professor_id professorId, professor_pw professorPw, department_num departmentNum
	from professor
	order by professor_num desc 
</select>

<select id="selectOne" resultType="professorDTO" parameterType="string">
 	select professor_num professorNum, professor_name professorName, professor_phone professorPhone, professor_email professorEmail, professor_id professorId, professor_pw professorPw, department_num departmentNum
	from professor
	where professor_num = #{professorNum}
</select>

<update id="setProfessorUpdate" parameterType="professorDTO">
 	update professor
 	set professor_name = #{professorName}, professor_phone = #{professorPhone}, professor_email = #{professorEmail}, professor_id = #{professorId}, professor_pw = #{professorPw}, department_num = #{departmentNum}
 	where professor_num = #{professorNum}
</update>

<delete id="proDel" parameterType="string">
 	delete from professor
 	where professor_num = #{professorNum}
</delete>

<select id="selectOneById" resultType="professorDTO" parameterType="string">
 	select professor_num professorNum, professor_name professorName, professor_phone professorPhone, professor_email professorEmail, professor_id professorId, professor_pw professorPw, department_num departmentNum
	from professor
	where professor_id = #{professorId}
</select>

<select id="selectDepartmentNum" resultType="string" parameterType="string">
	select department_name departmentName
	from department
	where department_num = (select department_num departmentNum
					        from professor
					        where professor_num = #{professorNum})
</select>

</mapper>